<app-header></app-header>
<br>
<div [ngSwitch]="status">
    <div *ngSwitchCase="'loading'">
        <div class="col-md-8 col-md-offset-2">
            <div class='uil-ripple-css' style='transform:scale(0.59);'>
                <div></div>
                <div></div>
            </div>
        </div>
    </div>
    <div *ngSwitchDefault>
        <div class="container" id="goUp">
            <div class="col-md-8 col-md-offset-2">
                <div *ngFor="let report of reports | deSort | paginate: { itemsPerPage: 5, currentPage: p }"
                     class="row">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-8">
                                <h4><strong><a>{{report.title}}</a></strong></h4>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <a routerLink="{{report.$key}}" class="thumbnail">
                                    <img src="{{report.image}}" alt="">
                                </a>
                            </div>
                            <br>
                        </div>
                        <div class="row">
                            <div innerHTML="{{report.content.substr(report.content.search(regex),200) + '...'}}"
                                 class="col-md-12">
                            </div>
                            <div class="col-md-12">
                                <button routerLink="{{report.$key}}" class="btn btn-primary btn-sm">Read more</button>
                            </div>
                            <div class="col-md-12">
                                <p></p>
                                <p>
                                    <span class="glyphicon glyphicon-user text-warning" aria-hidden="true"></span>
                                    <span>{{report.author}}</span>
                                    | <span class="glyphicon glyphicon-calendar text-warning"
                                            aria-hidden="true"></span>
                                    {{report.date | date:'yMMMd'}}
                                    |
                                    <span class="glyphicon glyphicon-tags text-warning" aria-hidden="true"></span> Tags
                                    :
                                    <span *ngFor="let tag of report.tags">
                                <a href="#" style="font-size: 16px"><span class="label label-warning">{{tag}}</span></a>
                            </span>
                                </p>
                            </div>
                        </div>
                        <hr>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-10 col-md-9 text-center">
                    <pagination-controls #pagination (pageChange)="p = $event">
                        <ul (click)="windowScroll()" class="pagination">
                            <li class="pagination-previous"
                                [class.disabled]="pagination.isFirstPage()">
                                <a class="pagi" *ngIf="!pagination.isFirstPage()"
                                   (click)="pagination.previous()">&laquo;</a>
                            </li>
                            <li *ngFor="let page of pagination.pages"
                                [class.active]="pagination.getCurrent() === page.value"
                                [class.current]="pagination.getCurrent() === page.value">
                                <a class="pagi" (click)="pagination.setCurrent(page.value)"
                                   *ngIf="pagination.getCurrent() !== page.value">
                                    <span>{{ page.label }}</span>
                                </a>
                                <a class="pagi" *ngIf="pagination.getCurrent() === page.value">
                                    {{ page.label }}
                                </a>
                            </li>
                            <li class="pagination-next" [class.disabled]="pagination.isLastPage()"
                                *ngIf="pagination.directionLinks">
                                <a class="pagi" *ngIf="!pagination.isLastPage()"
                                   (click)="pagination.next()">&raquo;</a>
                            </li>
                        </ul>
                    </pagination-controls>
                </div>
            </div>
        </div>
    </div>
</div>
<br>
<div class="col-md-12">
    <app-footer></app-footer>
</div>