<div class="container-fluid">
    <div class="container">
        <div class="col-md-12 col-sm-12 text-center">
            <div class='row'>
                <div class='col-md-12'>
                    <div class="carousel slide media-carousel" id="weather">
                        <div class="carousel-inner">
                            <div class="item  active">
                                <div class="row" style="padding: 5%;">
                                    <div class="col-md-6">
                                        <div class="containerx">
                                            <p class="locationX" id="al">Aleppo</p>
                                            <p class="temperature" id="alTm">23&deg;</p>
                                            <div class="climate_bg" id="alSVG"></div>
                                            <div class="info_bg">
                                                <img class="dropicon" src="app/shared/Droplet.svg">
                                                <p class="humidity" id="alHm"></p>
                                                <img class="windicon" src="app/shared/Wind.svg">
                                                <div class="windspeed" id="alWs"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="containerx">
                                            <p class="locationX" id="dm">Damascus</p>
                                            <p class="temperature" id="dmTm">23&deg;</p>
                                            <div class="climate_bg" id="dmSVG"></div>
                                            <div class="info_bg">
                                                <img class="dropicon" src="app/shared/Droplet.svg">
                                                <p class="humidity" id="dmHm">100%</p>
                                                <img class="windicon" src="app/shared/Wind.svg">
                                                <div class="windspeed" id="dmWs"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="row" style="padding: 5%;">
                                    <div class=" col-md-6">
                                <div class="containerx">
                                    <p class="locationX" id="hm">Homs</p>
                                    <p class="temperature" id="hmTm">23&deg;</p>
                                    <div class="climate_bg" id="hmSVG"></div>
                                    <div class="info_bg">
                                        <img class="dropicon" src="app/shared/Droplet.svg">
                                        <p class="humidity" id="hmHm"></p>
                                        <img class="windicon" src="app/shared/Wind.svg">
                                        <div class="windspeed" id="hmWs"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="containerx">
                                    <p class="locationX" id="lt">Lattakia</p>
                                    <p class="temperature" id="ltTm">23&deg;</p>
                                    <div class="climate_bg" id="ltSVG"></div>
                                    <div class="info_bg">
                                        <img class="dropicon" src="app/shared/Droplet.svg">
                                        <p class="humidity" id="ltHm"></p>
                                        <img class="windicon" src="app/shared/Wind.svg">
                                        <div class="windspeed" id="ltWs"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="row" style="padding: 5%;">
                                    <div class="col-md-6">
                        <div class="containerx">
                            <p class="locationX" id="ha">Hama</p>
                            <p class="temperature" id="haTm">23&deg;</p>
                            <div class="climate_bg" id="haSVG"></div>
                            <div class="info_bg">
                                <img class="dropicon" src="app/shared/Droplet.svg">
                                <p class="humidity" id="haHm"></p>
                                <img class="windicon" src="app/shared/Wind.svg">
                                <div class="windspeed" id="haWs"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="containerx ">
                            <p class="locationX" id="id">Idlib</p>
                            <p class="temperature" id="idTm">23&deg;</p>
                            <div class="climate_bg" id="idSVG"></div>
                            <div class="info_bg">
                                <img class="dropicon" src="app/shared/Droplet.svg">
                                <p class="humidity" id="idHm"></p>
                                <img class="windicon" src="app/shared/Wind.svg">
                                <div class="windspeed" id="idWs"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <a data-slide="prev" href="#weather" class="left carousel-control">‹</a>
        <a data-slide="next" href="#weather" class="right carousel-control">›</a>
    </div>
</div>
</div>
</div>
</div>
</div>