<div class="container-fluid black">
    <div class="container">
        <div class="col-md-12 col-sm-12 text-center">
            <div class="row">
                <h2 style="color: #fff">Our Partners</h2>
            </div>
            <hr>
            <div class='row'>
                <div class='col-md-12'>
                    <div class="carousel slide media-carousel" id="media">
                        <div class="carousel-inner">
                            <div class="item  active">
                                <div class="row">
                                    <div class="col-md-3">
                                        <a class="thumbnail"><img alt="" class='img-responsive' style='width:100%;' src="http://rozana.fm/sites/default/files/Arab-Reporters.jpg"></a>
                                    </div>
                                    <div class="col-md-3">
                                        <a class="thumbnail"><img class='img-responsive' style='width:100%;' src="http://rozana.fm/sites/default/files/Nisaa.gif"></a>
                                    </div>
                                    <div class="col-md-3">
                                        <a class="thumbnail"><img class='img-responsive' style='width:100%;' src="http://rozana.fm/sites/default/files/UNICEF-logo-cyan.jpg"></a>
                                    </div>
                                    <div class="col-md-3">
                                        <a class="thumbnail" ><img class='img-responsive' style='width:100%;' src="http://rozana.fm/sites/default/files/ICIJ1.png"></a>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="row">
                                    <div class="col-md-3">
                                        <a class="thumbnail"><img class='img-responsive' style='width:100%;' src="http://rozana.fm/sites/default/files/UNESCO.jpg"></a>
                                    </div>
                                    <div class="col-md-3">
                                        <a class="thumbnail"><img class='img-responsive' style='width:100%;' src="http://rozana.fm/sites/default/files/MSF.png"></a>
                                    </div>
                                    <div class="col-md-3">
                                        <a class="thumbnail"><img class='img-responsive' style='width:100%;' src="http://rozana.fm/sites/default/files/dai-logo-english-1.png"></a>
                                    </div>
                                    <div class="col-md-3">
                                        <a class="thumbnail"><img class='img-responsive' style='width:100%;' src="http://rozana.fm/sites/default/files/IJ_0.png"></a>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="row">
                                    <div class="col-md-3">
                                        <a class="thumbnail"><img class='img-responsive' style='width:100%;' src="http://rozana.fm/sites/default/files/OSF.png"></a>
                                    </div>
                                    <div class="col-md-3">
                                        <a class="thumbnail"><img class='img-responsive' style='width:100%;' src="http://rozana.fm/sites/default/files/Euro.png"></a>
                                    </div>
                                    <div class="col-md-3">
                                        <a class="thumbnail"><img class='img-responsive' style='width:100%;' src="http://rozana.fm/sites/default/files/CFI.png"></a>
                                    </div>
                                    <div class="col-md-3">
                                        <a class="thumbnail"><img class='img-responsive' style='width:100%;' src="http://rozana.fm/sites/default/files/IMS.png"></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <a data-slide="prev" href="#media" class="left carousel-control">‹</a>
                        <a data-slide="next" href="#media" class="right carousel-control">›</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>