.black {
    background-color: #222;
}

.media-carousel
{
    margin-bottom: 0;
    padding: 0 40px 30px 40px;
    margin-top: 30px;
}

.media-carousel .carousel-control.left
{
    left: -12px;
    background-image: none;
    background: none repeat scroll 0 0 #222222;
    border: 4px solid #FFFFFF;
    border-radius: 23px 23px 23px 23px;
    height: 40px;
    width : 40px;
    margin-top: 30px
}

.media-carousel .carousel-control.right
{
    right: -12px !important;
    background-image: none;
    background: none repeat scroll 0 0 #222222;
    border: 4px solid #FFFFFF;
    border-radius: 23px 23px 23px 23px;
    height: 40px;
    width : 40px;
    margin-top: 30px
}

.media-carousel .carousel-indicators
{
    right: 50%;
    top: auto;
    bottom: 0px;
    margin-right: -19px;
}

.media-carousel .carousel-indicators li
{
    background: #c0c0c0;
}
.media-carousel .carousel-indicators .active
{
    background: #333333;
}
.media-carousel img
{
    width: 150px;
    height: 150px;
}
